.env
.env.*
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

backend/vendor/
backend/node_modules/
backend/public/build/
backend/storage/*.key
backend/storage/logs/*.log
backend/.phpunit.result.cache

frontend/node_modules/
frontend/dist/
frontend/.vite/

node_modules/
dist/

*.log
*.sqlite